# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual env
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Env variables
.env
.env.local
.env.prod
.env.dev

# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so

# Cache
.cache/
pytest_cache/
pip-wheel-metadata/
